body{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    
}

a{
    display: inline-block;
}

a:link, a:active, a:visited{
    color: dimgray;
}

.right-nav a img{
    opacity: 0.6;
}

nav{
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(33, 33, 33);       
}

.left-nav{
    width: 15%;
    display: flex;
    min-height: 8vh;    
    align-items: center;
}

.left-nav a{
  margin-left: 1.5rem;
}

.right-nav{
    width: 30%;
    display: flex;
    justify-content:flex-end;
    min-height: 8vh;    
    align-items: center;
}

.right-nav a {
    margin-left: 1.5rem;
}

.right-nav button{
    margin: 0 1rem 0 1.5rem;
}

.top-btn{
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 600;
    background-color: #498AF4;
}

header{
    display: flex;
    flex-direction: column;
    min-height: 84vh;
    align-items: center;
    justify-content: center;
}
.img-container{
    width: 400px;
      
}

.img-container img{
    width: 70%;
    margin-bottom: 20px;
}

.searchbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(219, 218, 218);
    width: 35rem;
    height: 2.5rem;
    border-radius: 20px;  
    padding: 2px 5px;
    margin-bottom: 40px;
      
}

.searchbar input{
    height: 100%;
    width: 80%;
    border: none;
    text-align: left;
}

.searchbar input:focus{
   outline:none
}

.img1{
   width: 15px;
   height:15px;
   margin: 0 10px;
   opacity: 0.6;
}

.img2{
    width: 15px;
    height:20px;
    margin: 0 10px;
    
 }

.header-button button{
    height: 2.5rem;
    background-color: rgb(241, 239, 239);
    border: none;
    padding: 0 5px;
    color: dimgrey;
    margin: 0 5px;
    border-radius: 5px;
 }

 .par{
    color: dimgray;
    margin-top: 30px;
 }

 .par a{
    text-decoration: underline;
    color: #0d4cb3;
 }

footer{
    min-height: 8vh;
    background-color: rgb(241, 239, 239);
    flex-direction: column;
    text-align:left ;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.place {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(228, 226, 226);   
    
}

.place a {
    width: 2.5rem;
    height: 2rem;
    margin: 10px 10px 0px 20px;
   
}
.sub-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.left-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.left-sub a{
    width: 6rem;
    margin-left: 20px;
    font-size: 0.8rem;
    text-align: left;
}
.left-sub a:last-child{
    width: 8rem;
    margin-left: 5px;
}


.right-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.right-sub a{
    width: 4rem;
    margin-left: 10px;
    font-size: 0.8rem;
    text-align: right;
}
.right-sub a:last-child{
    width: 4rem;
    margin-right: 10px;
}


